{% extends 'base.html.twig' %}

{% block title %}New Juego{% endblock %}

{% block body %}
    <h1>Create new Juego</h1>

    {{ include('juego/_form.html.twig') }}

    <a href="{{ path('app_juego_index') }}">back to list</a>
{% endblock %}
