{% extends 'base.html.twig' %}
{% block body %}
 <h1>Registro</h1>
 {{ form_start(registro) }}
 {{ form_widget(registro) }}
 <button class="btn">Registrar</button>
 {{ form_end(registro) }}
{% endblock %}