<div class="plinkoContainer" #plinkoContainer>
    <div class="zone-labels">
        <div *ngFor="let zone of zoneMultipliers" class="zone-label">
            x{{ zone }}
        </div>
    </div>

    <div class="bet-controls">
        <button class="dropBallBtn" (click)="dropBall()">Jugar</button>

        <div class="bet-buttons">
            <button class="bet-btn" *ngFor="let amount of betAmounts" (click)="selectBet(amount)"
                [class.selected]="selectedBet === amount">
                {{amount}}€
            </button>
        </div>

        <div class="saldo-display">
            Saldo: {{saldo.toFixed(2)}}€
        </div>
    </div>
</div>