.canvas {
    width: 100vw;
    height: 100vh;
    display: block;
  }
  
  button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #5100ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  