<footer class="footer">
    <div class="container">
      <!-- Logo y descripción -->
      <div class="footer-top">
        <div class="footer-logo">
          <h4>LuckyLoop</h4>
          <p>Tu destino para disfrutar de los mejores juegos de casino online. Juega de manera responsable.</p>
        </div>
        
        <!-- Enlaces de pago -->
        <div class="payment-methods">
          <h4>Métodos de Pago</h4>
          <div class="payment-icons">
            <img *ngFor="let method of paymentMethods" 
                 src="assets/images/logos/logo-{{ method }}.webp" 
                 alt="{{ method }}">
          </div>
        </div>
      </div>
      
      
      
      <!-- Redes sociales y licencias -->
      <div class="footer-bottom">
        <div class="social-media">
          <h4>Síguenos</h4>
          <div class="social-icons">
            <a *ngFor="let social of socialMedia" [href]="social.url" target="_blank">
              <i class="fab" [ngClass]="'fa-' + social.name"></i>
            </a>
          </div>
        </div>
        
        <div class="licenses">
          <img src="assets/images/otros/licencia.webp" alt="Licencia de Juego">
          <img src="assets/images/otros/juego-seguro.webp" alt="Juego Seguro">
          <img src="assets/images/otros/+18.webp" alt="18+">
        </div>
      </div>
      
      <!-- Copyright -->
      <div class="copyright">
        <p>&copy; {{ currentYear }} Casino. Todos los derechos reservados.</p>
        <p>Juega de manera responsable. El juego debe ser una forma de entretenimiento, no una forma de generar ingresos o resolver problemas financieros.</p>
      </div>
    </div>
  </footer>