body{
    background-color: rgb(7, 78, 7);
    color: white;
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;

    &:hover{
        scale: 1.1;
        filter: drop-shadow(0 0 10px red);
    }
}

.container{
    padding: 1em;
    position: relative;
}

#formJugadores {
    padding: 4em;
    justify-content: center; 
    align-items: center; 
    
    backdrop-filter: blur(10px);
    background-color: rgba(68, 105, 77, 0.199);

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;  
    height: 100vh; 
    
    z-index: 1000; 
    display: none;
}

.input-group{
    width: 30em;
}

.jugador-cartas{
    min-height:230px ;
}

#jugadores{
    min-height: 50vh;
}

.red{
    color: rgb(255, 0, 0);
}

.green{
    color: greenyellow;
}

.comment{
    display: inline-block;
    margin-left: 10em;
}

.plantado{
    color: grey;
}

.maquina{
    position: absolute;
    right:10%;
    top:10%;
    padding: 4em;
}

#formularioAs{ 
    justify-content: center; 
    align-items: center; 
    
    backdrop-filter: blur(10px);
    background-color: rgba(68, 105, 77, 0.199);

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;  
    height: 100vh; 
    
    z-index: 1000; 
    gap: .2em;
    display: none;
}

.pedirYPlantar{
    position: sticky;
    bottom: 0;
}

h3{
    color: rgb(182, 169, 169);
}